<div>
<div class="new-edit-form">
<h1> <%= text %></h1>
<%= form_for guardarropa do |f|%>
    <p>
        <%= f.label :nombre%><br />
        <%= f.text_field :nombre %>
    </p>
    <p class="interact-btn">
        <%= f.submit text %>
    </p>
<%end%>
</div>
<div class="interact-btn">
    <%= link_to  "Volver", :back %>
</div>
</div>