<div>
<div class="new-edit-form">
<h1> <%= text %></h1>
<%= form_for guardarropa do |f|%>
    <p>
        <%= f.label :nombre%><br />
        <%= f.text_field :nombre %>
    </p>
    <div class="interact-btn">
        <%= button_tag :class => "interact-btn green" do %>
             <i class="fas fa-check"></i>
        <% end %>
        <%= link_to :back, :class => "interact-btn red" do %>
            <i class="fas fa-times"></i>
        <% end %>
    </div>
<%end%>
</div>

</div>