<div>
<tr>
    <td>
            <%if(atuendo.prenda_cabeza.present?)%>
             <%= atuendo.prenda_cabeza.nombre %>
            <%else%>
                <%= link_to  "Seleccionar", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>
            <%end%>
    </td>

    <td>
            <%if(atuendo.prenda_torso.present?)%>
             <%= atuendo.prenda_torso.nombre %>
            <%else%>
                <%= link_to  "Seleccionar", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links" %>
            <%end%>
    </td>
    <td>
            <%if(atuendo.prenda_piernas.present?)%>
             <%= atuendo.prenda_piernas.nombre %>
            <%else%>
                <%= link_to  "Seleccionar", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>
            <%end%>
    </td>
    <td>
            <%if(atuendo.prenda_pies.present?)%>
             <%= atuendo.prenda_pies.nombre %>
            <%else%>
                <%= link_to  "Seleccionar", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>
            <%end%>
    </td>
    <td>
            <%if(atuendo.estacion)%>
             <%= atuendo.estacion %>
            <%else%>
                <%= link_to  "Seleccionar estacion", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>               
            <%end%>
    </td>
    <td>
            <%if(atuendo.estilo)%>
             <%= atuendo.estilo %>
            <%else%>
                <%= link_to  "Seleccionar estilo", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>               
            <%end%>
    </td>
    <td>
            <% if(atuendo.puntaje)%>
                <%= atuendo.read_attribute_before_type_cast(:puntaje)+1 %>
                (<%= atuendo.puntaje %>)
            <% else %>
                <%= link_to  "Seleccionar puntaje", edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), class: "shared-links"  %>
            <% end %>
    </td>
    <td colspan="3">
    <div class="action-btn">
    <%= link_to edit_guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id) do %>
        <i class="far fa-edit fa-2x"></i> 
    <% end %>

    <% if (show_show) %>
    <%= link_to guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id)do%>
        <i class="far fa-eye fa-2x"></i>
    <% end %>
    <% end %>

   <%= link_to guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => atuendo.id), method: :delete, data: { confirm: '¿Estas Seguro?' } do%>
        <i class="far fa-trash-alt fa-2x"></i>
    <% end %> 
    </td> 
    </div>
</tr>
</div>