<div class="new-edit-form">

<h1> <%= text %></h1>
<%= form_for [guardarropa, atuendo] do |f|%>
<% PrendaTipo.categoria.keys.each do |categoria| %>
    <p>
        <%= f.label categoria%><br />
        <%= f.collection_select("prenda_#{categoria}_id", Prenda.joins(:prenda_tipo).where(prenda_tipos: {categoria: categoria}, guardarropa: guardarropa), :id, :nombre, selected: atuendo.send("prenda_#{categoria}_id"))%>
    </p>
<% end %>
     <p>
        <%= f.submit text %>
    </p>
<%end%>
</div>
<div class="interact-btn">
<%= link_to  "Volver", :back %>
</div>
