<div class="new-edit-form">

<h1> <%= text %></h1>
<%= form_for [guardarropa, atuendo] do |f|%>
    <p>
        <%= f.label :Cabeza%><br />
        <%= f.collection_select(:prenda_cabeza_id, Prenda.joins(:prenda_tipo).where(prenda_tipos: {categoria: :cabeza}), :id, :nombre, selected: atuendo.prenda_cabeza_id )%>
    </p>

     <p>
        <%= f.label :Torso%><br />
        <%= f.collection_select(:prenda_torso_id, Prenda.joins(:prenda_tipo).where(prenda_tipos: {categoria: :torso}), :id, :nombre, selected: atuendo.prenda_torso_id )%>
    </p>

    <p>
        <%= f.label :Piernas%><br />
        <%= f.collection_select(:prenda_piernas_id, Prenda.joins(:prenda_tipo).where(prenda_tipos: {categoria: :piernas}), :id, :nombre, selected: atuendo.prenda_piernas_id )%>
    </p>

    <p>
        <%= f.label :Pies%><br />
        <%= f.collection_select(:prenda_pies_id, Prenda.joins(:prenda_tipo).where(prenda_tipos: {categoria: :pies}), :id, :nombre, selected: atuendo.prenda_pies_id )%>
    </p>
    
     <p>
        <%= f.submit text %>
    </p>
<%end%>
</div>   
<p><%= link_to  "Volver", :back %></p>