<% if @guardarropa%>
<div>
<div class="search-form">
<h1>Filtrar</h1>
<%= form_tag guardarropa_atuendos_path, method: :get do%>
 <div class="search-select">
 <%= select_tag :estilo, options_for_select(Atuendo.estilos.keys.to_a,selected: params[:estilo]),  :include_blank => true %> <!--selected-->
 <%= select_tag :estacion, options_for_select(Atuendo.estacions.keys.to_a, selected: params[:estacion]), :include_blank => true %>
 
<%= submit_tag "Buscar", name: nil%>

 </div>
<% end %>
</div>
  <div class="prendas-view">
    <table class="guardarropa">
      <tr>  <%= render 'atributos_atuendo', show: @atuendos.present? %> 
        <% @atuendos.each do |a| %>
            <%= render 'atuendo', atuendo: a, show_show: true %>
        <%end%>
       </tr>
    </table>
  </div>
    <div class="interact-btn">
        <%= link_to "Crear Atuendo", new_guardarropa_atuendo_path(params[:guardarropa_id])%>
        <%= link_to  "Volver", guardarropa_path(params[:guardarropa_id]) %>
    </div>
  </div>
</div>
<% else %>
<%= render  "errores/error", 
descripcion: "¡No encontramos la pagina que esta buscando!",
status_code: "401"
%>
<% end %>