<div class="new-edit-form">
<h1> Atuendo Aleatorio </h1>
<%= form_for [@guardarropa, @atuendo] do |f|%>
    <p>
        <%= f.label "Prenda Cabeza"%><br />
        <%= f.text_field ("prenda_cabeza_id"),value: @prenda_cabeza.nombre, :readonly => true %>
        <%= f.hidden_field ("prenda_cabeza_id"), value: @prenda_cabeza.id %>
    </p>

    <p>
        <%= f.label "Prenda Torso"%><br />
        <%= f.text_field ("prenda_torso_id"),value: @prenda_torso.nombre, :readonly => true %>
        <%= f.hidden_field ("prenda_torso_id"), value: @prenda_torso.id %>
    </p>

    <p>
        <%= f.label "Prenda Piernas"%><br />
        <%= f.text_field ("prenda_piernas_id"),value: @prenda_piernas.nombre, :readonly => true %>
        <%= f.hidden_field ("prenda_piernas_id"), value: @prenda_piernas.id %>
    </p>

    <p>
        <%= f.label "Prenda Pies"%><br />
        <%= f.text_field ("prenda_pies_id"),value: @prenda_pies.nombre, :readonly => true %>
        <%= f.hidden_field ("prenda_pies_id"), value: @prenda_pies.id %>
    </p>

    <p>Estilo</p>
    <div class="radio">
    <% Atuendo.estilos.keys.each do |e| %>
        <%= f.radio_button :estilo, e %>
        <%= f.label :estilo, e%>
    <% end %>
    </div>

    
    <p>Estacion</p>
    <div class="radio">
    <% Atuendo.estacions.keys.each do |e| %>
        <%= f.radio_button :estacion, e%>
        <%= f.label :estacion, e%>
    <% end %>
    </div>

    <p>Calificacion</p>
    <div class="radio">
    <% Atuendo.puntajes.keys.each do |e| %>
        <%= f.radio_button :puntaje, e%>
        <%= f.label :puntaje, e%>
    <% end %>
    </div>

        <div class="interact-btn">
        <%= button_tag :class => "interact-btn green" do %>
             <i class="fas fa-check"></i>
        <% end %>
        <%= link_to guardarropa_path(@guardarropa.id), :class => "interact-btn red" do %>
            <i class="fas fa-times"></i>
        <% end %>
        <%= link_to "/guardarropas/#{@guardarropa.id}/atuendo-aleatorio", :class => "interact-btn blue" do %>
            <i class="fas fa-redo-alt"></i>
        <% end %>
    </div>

<% end %>
</div>
