<div class="new-edit-form">

<h1> <%= text %></h1>
<%= form_for prenda do |f|%>

    <p>
        <%= f.label :nombre%><br />
        <%= f.text_field :nombre %>
    </p>

    <p>
        <%= f.label :textura%><br />
        <%= f.select(:textura, options_for_select(Prenda.texturas.keys.to_a, selected: prenda.textura)) %>
    </p>

    <p>
        <%= f.label :color%><br />
        <%= f.color_field :color%>
    </p>

    <p>
        <%= f.label :color_secundario%><br />
        <%= f.color_field :color_secundario %>
    </p>

    <p>
        <%= f.label :tipo%><br />
        <%= f.collection_select :prenda_tipo_id, PrendaTipo.all, :id, :nombre, selected: prenda.prenda_tipo_id%>
    </p>

    <p>
        <%= f.label :guardarropa%><br />
        <%
=begin%>
 <%if(guardarropa_id)%>
            <%= f.collection_select(:guardarropa_id, Guardarropa.all, :id, :nombre, selected: Guardarropa.find(params[:guardarropa_id]).id)%> 
        <%else%> 
<%
=end%>
            <%= f.collection_select(:guardarropa_id, Guardarropa.all, :id, :nombre)%> 
        <%
=begin%>
 <%end%> 
<%
=end%>
    </p>
    
    <p>
        <%= f.submit text %>
    </p>
<%end%>
</div>
<p><%= link_to  "Volver", :back %></p>
