<div class="new-edit-form">

<h1> <%= text %></h1>
<%= form_for prenda do |f|%>

    <p>
        <%= f.label :nombre%><br />
        <%= f.text_field :nombre %>
    </p>

    <p>
        <%= f.label :textura%><br />
        <%= f.select(:textura, options_for_select(Prenda.texturas.keys.to_a, selected: prenda.textura)) %>
    </p>

    <p>
        <%= f.label :color%><br />
        <%= f.color_field :color%>
    </p>

    <p>
        <%= f.label :color_secundario%><br />
        <%= f.color_field :color_secundario %>
    </p>

    <p>
        <%= f.label :tipo%><br />
        <%= f.collection_select :prenda_tipo_id, PrendaTipo.all, :id, :nombre, selected: prenda.prenda_tipo_id%>
    </p>

    <p>
        <%= f.label :guardarropa%><br />
        <%if(@guardarropa)%>
            <%= f.collection_select(:guardarropa_id, Guardarropa.where(usuario_id: current_usuario), :id, :nombre, selected: @guardarropa.id)%> 
        <%else%> 
            <%= f.collection_select(:guardarropa_id, Guardarropa.where(usuario_id: current_usuario), :id, :nombre)%> 
        <%end%>       
    </p>
    
    <p>
        <%= f.submit text %>
    </p>
<%end%>
</div>
<div class="interact-btn">
<%= link_to  "Volver", prendas_path%>
</div>
