<div class="new-edit-form">

<h1> <%= text %></h1>
<%= form_for prenda do |f|%>
    <p>
        <%= f.label :textura%><br />
        <%= f.select(:textura, options_for_select(Prenda.texturas.keys.to_a, selected: prenda.textura)) %>
    </p>
    <p>
        <%= f.label :color%><br />
        <%= f.color_field :color%>
    </p>
    <p >
        <%= f.label :color_secundario%><br />
        <%= f.color_field :color_secundario %>
    </p>
    <p>
        <%= f.label :tipo%><br />
        <%= f.select(:prenda_tipo_id, options_for_select(Prenda.tipos.keys, selected: prenda.prenda_tipo_id))%>
    </p>
    <p>
        <%= f.submit text %>
    </p>
<%end%>
</div>