<div>
    <tr>
    <td><%= prenda.id %></td>
    <td><%= prenda.textura %></td>
    <td><%= prenda.color %></td><br>
    <td><%= prenda.color_secundario %></td>
    <td><%= prenda.categoria %></td>
    <td><%= prenda.tipo %></td>
    <td><%= link_to "Editar Prenda", edit_prenda_path(prenda) %></td>
    <td><%= link_to "Ver Prenda",prenda %></td>
    <td><%= link_to 'Destroy', { action: :destroy, id: prenda.id }, method: :destroy, data: { confirm: 'Are you sure?' } %></td> 
</tr>
</div>