<div>
<tr>
    <td><%= prenda.id %></td>
    <td><%= prenda.textura %></td>
    <td><%= prenda.color %></td><br>
    <td><%= prenda.color_secundario %></td>
    <td><%= prenda.categoria %></td>
    <td><%= prenda.tipo %></td>
    <td><%=link_to "Ver Prenda",prenda %></td>
</tr>
</div>