<div>
    <tr>
    <td><%= prenda.nombre %></td><br>
    <td><%= prenda.textura %></td>
    <td id="color" class="color-col" style="background-color: <%= prenda.color %>;"></td>
    <td id="color-secundario" class="color-col" style="background-color: <%= prenda.color_secundario %>;"></td>
    <td><%= prenda.prenda_tipo.nombre %></td>
    
    <td colspan="3">
    <div class="action-btn">
    <%= link_to edit_prenda_path(prenda) do %>
        <i class="far fa-edit fa-2x"></i> 
    <% end %>

    <% if (show_show) %>
        <%= link_to prenda do%>
            <i class="far fa-eye fa-2x"></i>
        <% end %>
    <% end %>

    <%= link_to prenda, method: :delete, data: { confirm: '¿Estas Seguro?' } do%>
        <i class="far fa-trash-alt fa-2x"></i>
    <% end %>
    
    </div>
    </td>     
</tr>
</div>
    