<div class="new-edit-form">
<h1>Editar Prenda</h1>
<%= form_for @prenda do |f|%>
  <p>
        <%= f.label :categoria%><br />
        <%= f.select(:categoria,['Cabeza','Torso','Piernas','Pies'])%>
    </p>
    <p>
        <%= f.label :color%><br />
        <%= f.color_field :color%>
    </p>
    <p>
        <%= f.label :color_secundario%><br />
        <%= f.color_field :color_secundario%>
    </p>
    <p>
        <%= f.label :textura%><br />
        <%= f.select(:textura,['Algodon','Cuero','Gabardina','Nylon','Jean'])%>
    </p>
    <p>
        <%= f.label :tipo%><br />
        <%= f.select(:tipo,['Gorro','Sombrero','Remera','Buzo','Campera','Pantalon','Zapatos','Zapatillas'])%>
    </p>
    <p>
        <%= f.submit "Guardar Cambios"%>
    </p>
<%end%>
</div>