<% if current_usuario.es_admin? %>

<div style="text-align: center; color:white; font-family:'Open Sans';">
<h1>Usuarios</h1>
<table class="guardarropa">
<%= render "atributos_usuario"%>
<% @usuarios.each do |u| %>
    <tr>
    <td><%=u.email%></td>
    <td><%= Prenda.where(usuario_id: u.id).count %> </td>
    <td><%= Guardarropa.where(usuario_id: u.id).count %> </td>
    <td><%=u.created_at%></td>
    </tr>
<% end %>
</table>
</div>
<% else %>
<%= render  "errores/error", 
descripcion: "No estas autorizado para ver este contenido",
status_code: "401"
%>
<% end %>